<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="screen" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" media="screen"  charset="utf-8">
    <link rel="stylesheet" href="/css/normalize.css">
    <title>U of P</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Student Database</h1>
    </div>
    <div class="container">
      <h3>{{ course.getCourse_name }} ({{ course.getCourse_number }})</h3>
      {% if students is not empty %}
          <p>Here are all of {{ course.getCourse_name }}'s class roster</p>
          <ul>
                {% for student in students %}
                    <li>{{ student.getName }}</li>
                {% endfor %}
          </ul>
      {% else %}
          <p>This course does not have any students yet!</p>
      {% endif %}

      <p>Add a new student below:</p>
      <form action='/add_student' method='post'>
        <input id="course_id" name="course_id" type="hidden" value="{{ course.getId }}">
        <label for='student_id'>Student Name:</label>
        <select id='student_id' name='student_id' type='text'><br>
          {% if all_students is not empty %}
              {% for student in all_students %}
                <option value="{{ student.getId }}"> {{ student.getName }} </option>
              {% endfor %}
              {% endif %}
        </select>
        <button class='btn' type='submit' name='student_btn'>Add</button>
      </form>
      <form action='/{{ course.getId }}/deleteCourse' method='post'>
        <button type='submit' name="delete_course" class='btn'>Delete Course</button>
      </form>
      <p><a href='/'>Home</a></p>
    </div>
  </body>
</html>
