
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="screen" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" media="screen"  charset="utf-8">
    <link rel="stylesheet" href="/css/normalize.css">
    <meta charset="utf-8">
    <title>U of P</title>
  </head>
  <body>
      <div class="jumbotron">
         <h1>Registrar Homepage</h1>
      </div>
    <div class="container">
      <div class="row">
        <div class="col col-md-6">
          <p>Add a new student below:</p>
          <form action='/students' method='post'>
            <label for='name'>Student Name:</label>
            <input id='name' name='name' type='text' class='form-control'><br>
            <label for='enroll_date'>Date of Enrollment:</label>
            <input id='enroll_date' name='enroll_date' type='date' class='form-control'>

            <button type='submit', name='student_btn'>Add</button>
          </form>
            {% if students is not empty %}
                <p>Here are all your students</p>
                <ul>
                      {% for student in students %}
                          <li><a href="/students/{{ student.getId }}">{{ student.getName }}</a></li>
                          <ul>
                            <li>Date of Enrollment: {{ student.getEnroll_date }}</li>
                          </ul>
                      {% endfor %}
                </ul>
            {% else %}
                <p>There are no student profiles yet!</p>
            {% endif %}
            <form action='/delete_all_students' method='post'>
              <button type='submit' class="delete_all_students">Clear All</button>
            </form>

        </div>
        <div class="col col-md-6">
          <p>Add a new course below:</p>
          <form action='/courses' method='post'>
            <label for='course_name'>Course Name:</label>
            <input id='course_name' name='course_name' type='text' class='form-control'><br>

            <label for='course_number'>Course Number:</label>
            <input id='course_number' name='course_number' type='text' class='form-control'>

            <button type='submit' name='course_btn'>Add</button>
          </form>
            {% if courses %}
                <p>Here are all your courses</p>
                <ul>
                      {% for course in courses %}
                          <li><a href="/courses/{{ course.getId }}">{{ course.getCourse_name }}</a></li>
                          <ul>
                            <li>Course Number: {{ course.getCourse_number }}</li>
                          </ul>
                      {% endfor %}
                </ul>
            {% else %}
                <p>There are no course profiles yet!</p>
            {% endif %}
            <form action='/delete_all_courses' method='post'>
              <button type='submit' class="delete_all_courses">Clear All</button>
            </form>

        </div>
      </div>
    </div>
  </body>
</html>
