<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="screen" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" media="screen"  charset="utf-8">
    <link rel="stylesheet" href="/css/normalize.css">
    <title>U of P</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Course Database</h1>  
    </div>
    <div class="container">


      {% if courses is not empty %}
          <p>Here are all of {{ student.getName }}'s courses</p>
          <ul>
                {% for course in courses %}
                    <li>{{ course.getCourse_name }}</li>
                    <ul>
                    <li>{{ course.getCourse_number }}</li>
                    </ul>

                {% endfor %}
          </ul>
      {% else %}
          <p>This student has not signed up for a class yet!</p>
      {% endif %}

      <p>Add a new course below:</p>
      <form action='/add_course' method='post'>
        <input id="student_id" name="student_id" type="hidden" value="{{ student.getId }}">
        <label for='course_id'>Course Name:</label>
        <select id='course_id' name='course_id' type='text'><br>
          {% if all_courses is not empty %}
              {% for course in all_courses %}
                <option value="{{ course.getId }}"> {{ course.getCourse_name }} </option>
              {% endfor %}
              {% endif %}
        </select>
        <button type='submit' name='course_btn'>Add</button>
      </form>
      <form action='/delete_all_students' method='post'>
        <button type='submit' class="delete_student">Clear All</button>
      </form>
    </div>
  </body>
</html>
